<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Nitish's Agent</title>
</head>
<style>
    body{
        background-color: #f0f0f0;
    }
    .vapi-btn{
        right: 0px!important;
        left: 0px;
        margin: auto;
        max-width: 290px;
        top: 0px;
        height: 80px!important;
    }
    #vapi-icon-container{
        padding: 9px 12px!important;
    }
    #vapi-title {
        font-size: 18px!important;
    }
    #vapi-subtitle {
        font-size: 14px!important;
        color:#727272!important;
    }
</style>
<body>


<script>
    var vapiInstance = null;
    const assistant = "a039b282-da25-435f-9127-ff02ac07e0a5"; // Substitute with your assistant ID
    const apiKey = "ce91db6f-02e2-4169-ae30-23b2e07f284e"; // Substitute with your Public key from Vapi Dashboard.
        const buttonConfig = {
            position: "bottom-right", // "bottom" | "top" | "left" | "right" | "top-right" | "top-left" | "bottom-left" | "bottom-right"
            offset: "40px", // decide how far the button should be from the edge
            width: "50px", // min-width of the button
            height: "50px", // height of the button
            idle: { // button state when the call is not active.
              color: `rgb(93, 254, 202)`, 
              type: "pill", // or "round"
              title: "Talk to My Assistant", // only required in case of Pill
              subtitle: "Quick, smart, and human-like.", // only required in case of pill
              icon: `https://unpkg.com/lucide-static@0.321.0/icons/phone.svg`,
            },
            loading: { // button state when the call is connecting
              color: `rgb(93, 124, 202)`,
              type: "pill", // or "round"
              title: "Connecting...", // only required in case of Pill
              subtitle: "Please wait", // only required in case of pill
              icon: `https://unpkg.com/lucide-static@0.321.0/icons/loader-2.svg`,
            },
            active: { // button state when the call is in progress or active.
              color: `rgb(255, 0, 0)`,
              type: "pill", // or "round"
              title: "Call is in progress...", // only required in case of Pill
              subtitle: "End the call.", // only required in case of pill
              icon: `https://unpkg.com/lucide-static@0.321.0/icons/phone-off.svg`,
            },
          };
          
  
    (function (d, t) {
      var g = document.createElement(t),
        s = d.getElementsByTagName(t)[0];
      g.src =
        "https://cdn.jsdelivr.net/gh/VapiAI/html-script-tag@latest/dist/assets/index.js";
      g.defer = true;
      g.async = true;
      s.parentNode.insertBefore(g, s);
  
      g.onload = function () {
        vapiInstance = window.vapiSDK.run({
          apiKey: apiKey, // mandatory
          assistant: assistant, // mandatory
          config: buttonConfig, // optional
        });
      };
    })(document, "script");
  
  </script>

</body>
  
</html>

